#addPatientContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#addPatientContainer button {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* ====== page ====== */
.pagination {
  margin-top: 15px;
  text-align: center;
}

.pagination button {
  margin: 2px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #f0f0f0;
  transition: background 0.2s ease;
}

.pagination button:hover {
  background: #ddd;
}

.pagination button.active {
  background: #007bff;
  color: white;
  font-weight: bold;
}
/* =========patientTable.jsp========= */
